{% set path_img =  asset("bundles/ldcwebsite/images/") %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
	
		<h2>Modification du mot de passe</h2>
		
		<!-- ========== Erreurs Generales-->	
		{{ form_widget(form) }}
		
		<div class="bt-container-validation">
			<input type="submit" class="bt-gold" value="Valider" />
		</div>
		
</form>
