.line-through {
  text-decoration: line-through;
}
.updated_at {
  display: none;
}
.hidden {
  display: none !important;
}
.sonata-ba-list img {
  height: 60px;
  width: 90px;
}
.form-delete-box {
  margin-left: 160px;
}
.form-delete-box label {
  display: inline !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.form-delete-box input {
  display: inline !important;
  margin: 0 !important;
  padding-right: 5px !important;
  vertical-align: center !important;
}
.file-loaded {
  margin: 0 !important;
}
.file-loaded p {
  margin: 5px 0 !important;
}
.sonata-collection-row {
  margin-top: 9px !important;
  margin-left: 160px !important;
}
.sonata-collection-row:first-child {
  margin-left: 0 !important;
}
.sonata-collection-row:first-child .btn {
  margin: 0 0 0 20px !important;
}
.sonata-collection-row .btn {
  margin: 0 !important;
}
.sonata-collection-row >a,
.sonata-collection-row >div {
  display: inline-block !important;
}
.sonata-collection-row div label.control-label,
.sonata-collection-row div div {
  display: inline-block;
  float: none;
}
.sonata-collection-row div label {
  padding-right: 5px !important;
  width: 50px !important;
}
.sonata-collection-row div input[type="text"] {
  height: 30px !important;
}
.sonata-collection-row .errors {
  width: 495px;
  border: 3px solid #CE6F6F;
  background-color: #F79992;
  color: #9C2F2F;
}
.embedded-in-sonata {
  display: none;
  margin-top: 15px;
  margin-left: 160px;
}
.embedded-in-sonata label {
  padding-right: 5px;
}
.embedded-in-sonata {
  margin-top: 15px;
  margin-left: 160px;
}
.embedded-in-sonata label {
  padding-right: 5px;
}
.btn-first {
  margin: 10px 0 0 20px !important;
}
.btn-sibling {
  margin: 10px 0 0 160px;
}
.sonata-collection-add {
  margin: 10px 0 0 160px;
}
img.night-image-type {
  height: 70px !important;
}
